name: CI

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'

jobs:

  build:
    runs-on: self-feelpp
    name: build
    if: ${{ !contains(github.event.head_commit.message, 'build skip') }}
    steps:
    - uses: actions/checkout@v5